
@{
    ViewBag.Title = "Portfolio";
}

<section id="two">
    <h1>@ViewBag.Title</h1>
    <div class="row">
        <article class="col-6 col-12-xsmall work-item">
            <a href="http://storefront.ryaneutsler.com/" class="image fit thumb"><img src="~/Content/assets/images/thumbs/storefront_thumb.jpg" alt="Storefront Project" /></a>
            <h3><strong>Storefront Project</strong></h3>
            <p>
                Created a secure application for managing product data. Application is built to simulate an
                online vintage clothing, resale store. Features include a shopping cart, paging and filtering, custom user details including: transaction history and ability to post personal listings. Administrators have the ability to manage product, category and vendor data.<br />
                <a href="https://github.com/war-boy/storefront" target="_blank">View on GitHub</a>
            </p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
            <a href="images/fulls/02.jpg" class="image fit thumb"><img src="~/Content/assets/images/thumbs/02.jpg" alt="" /></a>
            <h3>Coming Soon</h3>
            <p></p>
        </article>
    </div>
    <div class="row">
        <article class="col-6 col-12-xsmall work-item">
            <a href="" class="image fit thumb"><img src="~/Content/assets/images/thumbs/01.jpg" alt="" /></a>
            <h3>Coming Soon</h3>
            <p></p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
            <a href="images/fulls/02.jpg" class="image fit thumb"><img src="~/Content/assets/images/thumbs/02.jpg" alt="" /></a>
            <h3>Coming Soon</h3>
            <p></p>
        </article>
    </div>
    <div class="row">
        <article class="col-6 col-12-xsmall work-item">
            <a href="images/fulls/03.jpg" class="image fit thumb"><img src="~/Content/assets/images/thumbs/03.jpg" alt="" /></a>
            <h3>Coming Soon</h3>
            <p></p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
            <a href="" class="image fit thumb"><img src="~/Content/assets/images/thumbs/01.jpg" alt="" /></a>
            <h3>Coming Soon</h3>
            <p></p>
        </article>
    </div>
</section>


