
@{
    ViewBag.Title = "Resume";
}

<h1>@ViewBag.Title</h1>
<div class="center-block">
    <a href="~/Content/Ryan Eutsler Resume IT.pdf" target="_blank">Open in new tab</a>
    <iframe src="~/Content/Ryan Eutsler Resume IT.pdf" width="810" height="900" scrolling="no" frameborder="0"></iframe>
</div>