
@{
    ViewBag.Title = "Links";
}

<hr />

<section id="one">
    <h1>@ViewBag.Title</h1>
    <section class="major">
        <h2>
            Classmates
        </h2>
        <p><em>Below is a collection of people who have helped me get to where I am now, and who continue to help me grow as a developer by sharing their knowledge and helping me truble shoot my problems.</em></p>
        <ul>
            <li><a href="http://www.a-harrison.com" target="_blank">Arianna Harrison</a></li>
            <li><a href="http://www.ianwhitehill.com" target="_blank">Ian Whitehill</a></li>
            <li><a href="http://www.isaacbeck.net" target="_blank">Issac Beck</a></li>
            <li><a href="http://www.jvbdev.com" target="_blank">Jose Burciaga</a></li>
            <li><a href="http://www.joshready.com" target="_blank">Josh Ready</a></li>
            <li><a href="http://www.lukeabeauchamp.com" target="_blank">Luke Beauchamp</a></li>
            <li><a href="http://www.ryanpflugradt.com" target="_blank">Ryan Pflugradt</a></li>
            <li><a href="http://www.tim-lopez.com" target="_blank">Tim Lopez</a></li>
        </ul>
    </section>
</section>