
@{
    ViewBag.Title = "Portfolio";
}

<hr />
<section id="two">
    <h1>@ViewBag.Title</h1>

    <div class="row">

        <article class="col-6 col-12-xsmall work-item">

            <a href="http://fsdp.ryaneutsler.com/" class="image fit thumb" target="_blank">
                <img src="~/Content/assets/images/job_board_.jpg" alt="Final Project" class="project-thumb" />
            </a>

            <div>
                <h3><strong>Job Board</strong></h3>
                <h3 class="tech-stack">JavaScript, C#, ASP.NET</h3>
            </div>

            <p>
                Constructed a data-driven web application, built as a secure internal application for hiring managers to create job postings and allow curernt employees to view and apply to openings within their company. The application includes custom user profiles, an internal mailing system, job board with searching and filtering, employee directory and other features.<br />
                @*<b>Manager Login: Email -</b> manager@globalsystems.com, <b>Password</b> - PragmaticProgrammer123!<br />*@
            </p>
            <a href="https://github.com/war-boy/JobBoard" target="_blank">View on GitHub<span class="icon brands fa-github"></span></a><br />
            <a href="https://youtu.be/3sBJbSnmXRo" target="_blank">View my presentation on this project here!</a>

        </article>

        <article class="col-6 col-12-xsmall work-item">

            <a href="http://storefront.ryaneutsler.com/" class="image fit thumb" target="_blank">
                <img src="~/Content/assets/images/thumbs/storefront_thumb.jpg" alt="Storefront" class="project-thumb" />
            </a>

            <div>
                <h3><strong>Storefront</strong></h3>
                <h3 class="tech-stack">JavaScript, C#, ASP.NET</h3>
            </div>

            <p>
                Created a secure application for managing product data. Application is built to simulate an
                online vintage clothing, resale store. Users are able to create postings for their used products, filter and search products, buy products from other users (as well as directly from the store), view previous orders and other features.<br />
            </p>
            <a href="https://github.com/war-boy/Storefront" target="_blank">View on GitHub<span class="icon brands fa-github"></span></a>

        </article>

    </div>

    <div class="row">

        <article class="col-6 col-12-xsmall work-item">

            <a href="https://github.com/war-boy/ErichsCarpetCare" class="image fit thumb">
                <img src="~/Content/assets/images/erichs_carpet_care.JPG" alt="Erich's Carpet Care" target="_blank" class="project-thumb" />
            </a>

            <div>
                <h3><strong>Erich's Carpet Care</strong></h3>
                <h3 class="tech-stack">JavaScript, C#, ASP.NET</h3>
            </div>

            <p>
                As a part of Centriq’s Hackathon event,  students and alumni are given the opportunity to work with local small businesses, gather requirements and build a website based on the client’s requirements. This Web Application was constructed as part of a 3 day sprint with two other Centriq alumni.<br />
                <em>*Please not this site is not currently deployed. Please see GitHub repository for code.</em><br />
            </p>
            <a href="https://github.com/war-boy/ErichsCarpetCare" target="_blank">View on GitHub<span class="icon brands fa-github"></span></a>

        </article>


        <article class="col-6 col-12-xsmall work-item">
            <a href="https://github.com/war-boy/Dungeon" class="image fit thumb" target="_blank">
                <img src="~/Content/assets/images/dungeon_.JPG" class="project-thumb" />
            </a>

            <h3><strong>Dungeon Application</strong></h3>
            <h3 class="tech-stack">C#</h3>

            <p>
                An Application I made to practice my middle-tier fundamentals. The site is a C# application which features a combat system, inventory system and a random enemy feature.<br />
            </p>
            <a href="https://github.com/war-boy/Dungeon" target="_blank">View on GitHub<span class="icon brands fa-github"></span></a>

        </article>
    </div>

    <div class="row">
        <article class="col-6 col-12-xsmall work-item">

            <a href="http://studioproject.ryaneutsler.com/" class="image fit thumb" target="_blank">
                <img src="~/Content/assets/images/studio_project_.JPG" alt="Studio Project" class="project-thumb" />
            </a>

            <h3><strong>Studio Project</strong></h3>
            <h3 class="tech-stack">CSS, HTML</h3>

            <p>
                A website I made to practice my front-end fundamentals. The site was made based off a provided wireframe to display my ability to meet requirements from a client.<br />
            </p>
            <a href="https://github.com/war-boy/Studio" target="_blank">View on GitHub<span class="icon brands fa-github"></span></a>

        </article>

    </div>
</section>


