@{
    ViewBag.Title = "Resume";
}

<hr style="width: 154%;"/>
<div class="resume-container">



    <h1 style="margin-bottom: 0;">@ViewBag.Title</h1>

    <a href="~/Content/Ryan_Eutsler_Resume_IT.pdf" target="_blank" style="float: right;">Open in new tab</a>
    <div class="center-block">
        <iframe src="~/Content/Ryan_Eutsler_Resume_IT.pdf" width="850" height="900" scrolling="no" frameborder="0"></iframe>
    </div>

</div>
