/*Please note this CSS contains code wrote soley by Ryan Eutsler*/
.sidenav {
    height: 105%;
    width: 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    /*background-color: rgba(0, 0, 0, 0.9); /*black and mostly transparent*/ */ overflow-x: hidden;
    padding-top: 100px;
    transition: .5s;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: -moz-flex-end;
    -webkit-align-items: -webkit-flex-end;
    -ms-align-items: -ms-flex-end;
    align-items: flex-end;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background-color: #1f1815;
    background-attachment: scroll, scroll;
    background-image: url("images/overlay.png"), url("../../images/bg.jpg");
    background-position: top left, top left;
    background-repeat: repeat, no-repeat;
    background-size: auto, 150%;
    color: rgba(255, 255, 255, 0.5);
    height: 105%;
    left: 0;
    /*padding: 8em 4em;*/
    position: fixed;
    text-align: right;
    top: 0;
    width: 0%;
    /*Most of these elements help hide it*/
}

    .sidenav a {
        text-decoration: none;
        color: white;
        display: block;
        transition: .3s;
    }

.close-btn {
    /*position: absolute;*/ /*fixes in position and doesn't let other css override. Moves with the nav bar*/
    top: 50px;
    right: 25px;
    font-size: 2em;
    margin-left: 50px;
}

.openbutton {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 20px;
    z-index: 1030;
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer; /*changes cursor when you hover. pointer = finger icons*/
}

.vertical-text {
    position: fixed;
    top: 45%; /*will kinda be in the middle when it's sideways*/
    writing-mode: vertical-lr; /*will read vertical left to right*/
    color: #000;
    font-weight: bold;
}

.image.avatar img {
    margin-left: 75%;
    position: fixed;
}
/*#region Projects */
#jsProjects {
    color: orange;
    text-decoration: solid;
    text-decoration-color: orange;
}

#cProjects {
    color: lightgreen;
    text-decoration: solid;
}

#fsProjects {
    color: red;
    text-decoration: solid;
}
/*#endregion */
